* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    font-family: sans-serif;
    color: white;


    background: radial-gradient(#4291c5, #09516b);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    background-repeat: no-repeat;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

h1 {
    text-align: center;
    margin-top: 50pt;
    font-size: 30pt;
}

@keyframes gradient {
	0% {
		background-size: 100%;
	}
	50% {
		background-size: 150%;
	}
    100% {
		background-size: 100%;
	}
}